@model TVK.Web.Models.TvkCommand
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;


@{
    ViewData["Title"] = "Главная";
    var address = Model?.Ip_Address ?? "";
    var command = Model?.Command ?? "hostname";

    testSQLContext db = new testSQLContext();
    Users user = db.Users
        .Where(t => t.Email == User.FindFirst(x => x.Type == ClaimsIdentity.DefaultNameClaimType).Value)
    .FirstOrDefault();



    var backgroundCommand = db.BackgroundCommand.ToList();
    var PC_address = db.Pc.ToList();
    List<string> data = new List<string>();
}

    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />

    <div class="text-center">
        <h3 class="display-4">IP адреса компьютеров</h3>
        <table class="mytable">
            <tbody>
                @foreach (var pc in PC_address)
                {
                    <tr><td style="padding-right:20px">@pc.IpAddress</td><td>@pc.NamePc</td></tr>
                }
            </tbody>
        </table>
        <br>
    </div>

    <div class="block-1">

        <div id="form">
            <h1>Отправка команды</h1>
            <fieldset>
                <form>
                    <label for="address">Address:</label>
                    <select class="select-css" name="address" id="address_tvkcommand">
                        @foreach (var pc in PC_address)
                        {
                            <option title="@pc.NamePc">@pc.IpAddress</option>
                        }
                    </select>
                    <label for="command" id="command_tvkcommand">Command: </label>
                    <select class="select-css" name="command" id="tvkcommand">
                        @foreach (var bakcommand in backgroundCommand)
                        {
                            <option title="@bakcommand.Help">@bakcommand.Command</option>
                        }
                    </select>
                    <input type="button" value="Выполнить" id="button_tvkcommand" />
                </form>
            </fieldset>
        </div>


        <div class="row" id="real-estates-detail">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <div id="myTabContent" class="tab-content" style="width: 150%;">
                            <hr>
                            <div class="tab-pane fade active in" id="detail">
                                <h4>Команды</h4>
                                <table class="table table-th-block">
                                    <tbody>
                                        @foreach (var bakcommand in backgroundCommand)
                                        {
                                            <tr><td>@bakcommand.Command </td><td>@bakcommand.Help</td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br />
        <span id="result"> </span>
    </div>

    <div class="block-2">

        <div id="form">
            <h1>Системная информация</h1>
            <fieldset>
                <form>
                    <label for="address_systeminfo">Address:</label>
                    <select name="address_systeminfo" id="address_systeminfo">
                        @foreach (var pc in PC_address)
                        {
                            <option title="@pc.NamePc">@pc.IpAddress</option>
                        }
                    </select>
                    <input type="button" value="Выполнить" id="button_Get_systeminfo" />
                    <br />
                    <span id="result_systeminfo"> </span>
                </form>
            </fieldset>
        </div>

    </div>
        

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#button_Get_systeminfo').click(function () {
            var address = $('#address_systeminfo').val();
            $.ajax({
                type: 'GET',
                url: '/get_systeminfo/' + address,
                success: function (result) {
                    var s = '';
                    s += '<br>Загрузка процессора: ' + result.loadPercentage;
                    s += '<br>Количество ядер: ' + result.numberOfCores;
                    s += '<br>Количество потоков: ' + result.numberOfLogicalProcessors;
                    s += '<br>Количество оперативной памяти MB: ' + result.totalVisibleMemorySize;
                    s += '<br>Количество свободной оперативной памяти MB: ' + result.freePhysicalMemory;
                    $('#result_systeminfo').html(s);
                }
            });
        });
    })

    $(document).ready(function () {
        $('#button_tvkcommand').click(function () {
            var address = $('#address_tvkcommand').val();
            var command = $('#tvkcommand').val();
            var data_tvkcommand = address + ' ' + command;
            var start = new Date();
            $.ajax({
                type: 'GET',
                url: '/get_tvkcommand/' + data_tvkcommand,
                success: function (result) {
                    var arr = result.data.split('\n');
                    var s = '';
                    for (var i = 0; i < arr.length; i++)
                    {
                        s += arr[i];
                        s += '<br>';
                    }
                    s += "Время отправки команды: " + start + "<br>";
                    s += "Время ответа команды: " + Date() + "<br>";

                    $('#result').html(s);
                }
            });
        });
    })



</script>