@model TVK.Web.Models.TvkCommand
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;


@{
    ViewData["Title"] = "Главная";
    var address = Model?.Address ?? "http://127.0.0.1:5000/api/command";
    var command = Model?.Command ?? "hostname";

    testSQLContext db = new testSQLContext();
    Users user = db.Users
        .Where(t => t.Email == User.FindFirst(x => x.Type == ClaimsIdentity.DefaultNameClaimType).Value)
    .FirstOrDefault();



    var backgroundCommand = db.BackgroundCommand.ToList();
    List<string> data = new List<string>();

    DateTime start = new DateTime();
}


<div class="text-center">
    <h1 class="display-4">Welcome @user.Nameusers</h1>
    <form method="post" action="/home/post">
        <p>
            <label for="address">Address:</label> <input type="text" name="address" id="address" value="@address" />
        </p>
        <p>
            <label for="command">Command: </label>
            <select name="command" id="command">
                @foreach (var bakcommand in backgroundCommand)
                {
                    <option title="@bakcommand.Help">@bakcommand.Command</option>
                }
            </select>
        </p>
        <p>
            <input type="submit" value="Run" />
        </p>

        <table class="mytable">
            <thead>
                <tr><th>Команды</th></tr>
            </thead>
            <tbody>
                @foreach (var bakcommand in backgroundCommand)
                {
                    <tr><td>@bakcommand.Command </td><td>@bakcommand.Help</td></tr>
                }
            </tbody>
        </table>
        <br />
        <br />
        @if (!string.IsNullOrEmpty(Model?.Data))
        {
            start = DateTime.Now;
            data.AddRange(Model.Data.Split("\n"));
            <table class="mytable">
                <tbody>
                    @foreach (var a in data)
                    {
                        <tr><td>@a.Trim('\r')</td></tr>
                    }
                    <tr><td>Время отправки команды</td><td>@start</td></tr>
                    <tr><td>Время ответа команды</td><td>@DateTime.Now</td></tr>
                    <tr><td>Время выполнения команды</td><td>@(DateTime.Now - start)</td></tr>
                </tbody>
            </table>

        }
    </form>
</div>
