@model TVK.Web.Models.TvkCommand
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;


@{
    ViewData["Title"] = "Главная";
    var address = Model?.Ip_Address ?? "";
    var command = Model?.Command ?? "hostname";

    testSQLContext db = new testSQLContext();
    Users user = db.Users
        .Where(t => t.Email == User.FindFirst(x => x.Type == ClaimsIdentity.DefaultNameClaimType).Value)
    .FirstOrDefault();



    var backgroundCommand = db.BackgroundCommand.ToList();
    var PC_address = db.Pc.ToList();
    List<string> data = new List<string>();

    DateTime start = new DateTime();
}


<div class="text-center">
    <h1 class="display-4">Welcome @user.Nameusers</h1>
    <br>
    <table class="mytable">
        <thead>
            <tr><th>IP адреса компьютеров</th></tr>
        </thead>
        <tbody>
            @foreach (var pc in PC_address)
            {
                <tr><td>@pc.IpAddress </td><td>@pc.NamePc</td></tr>
            }
        </tbody>
    </table>
    <br>
</div>

<div class="block-1">
    
    <fieldset>
        <legend>Json выполнение команды</legend>
        <form>
            
            <label for="address">Address:</label> <input type="text" name="address" id="address_tvkcommand" value="@address" />
            <label for="command" id="command_tvkcommand">Command: </label>
            <select name="command" id="tvkcommand">
                @foreach (var bakcommand in backgroundCommand)
                {
                    <option title="@bakcommand.Help">@bakcommand.Command</option>
                }
            </select>
            <input type="button" value="Выполнить" id="button_tvkcommand" />
            <br />
            <span id="result"> </span>
        </form>
    </fieldset>

    <br />
    <table class="mytable">
        <thead>
            <tr><th>Команды</th></tr>
        </thead>
        <tbody>
            @foreach (var bakcommand in backgroundCommand)
            {
                <tr><td>@bakcommand.Command </td><td>@bakcommand.Help</td></tr>
            }
        </tbody>
    </table>
    <br />
</div>

<div class="block-2">
        <fieldset>
            <legend>Json systeminfo</legend>
            <form>
                Address:<input type="text" value="" id="address_systeminfo" />
                <input type="button" value="Выполнить" id="button_Get_systeminfo" />
                <br />
                <span id="result_systeminfo"> </span>
            </form>
        </fieldset>
</div>
        

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    console.log("hello json");
    $(document).ready(function () {
        $('#button_Get_systeminfo').click(function () {
            var address = $('#address_systeminfo').val();
            $.ajax({
                type: 'GET',
                url: '/get_systeminfo/' + address,
                success: function (result) {
                    var s = '';
                    s += '<br>Загрузка процессора: ' + result.loadPercentage;
                    s += '<br>Количество ядер: ' + result.numberOfCores;
                    s += '<br>Количество потоков: ' + result.numberOfLogicalProcessors;
                    s += '<br>Количество оперативной памяти MB: ' + result.totalVisibleMemorySize;
                    s += '<br>Количество свободной оперативной памяти MB: ' + result.freePhysicalMemory;
                    s += '<br>------------------';
                    $('#result_systeminfo').html(s);
                }
            });
        });
    })

    $(document).ready(function () {
        $('#button_tvkcommand').click(function () {
            var address = $('#address_tvkcommand').val();
            var command = $('#tvkcommand').val();
            var data_tvkcommand = address + ' ' + command;
            var start = new Date();
            $.ajax({
                type: 'GET',
                url: '/get_tvkcommand/' + data_tvkcommand,
                success: function (result) {
                    var arr = result.data.split('\n');
                    var s = '';
                    for (var i = 0; i < arr.length; i++)
                    {
                        s += arr[i];
                        s += '<br>';
                    }
                    s += "Время отправки команды: " + start + "<br>";
                    s += "Время ответа команды: " + Date() + "<br>";

                    $('#result').html(s);
                }
            });
        });
    })



</script>