@model TVK.Web.testSQLContext
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;

@{
    ViewData["Title"] = "Профиль";
}
@{
    testSQLContext db = new testSQLContext();
    Users user = db.Users
    .Include(t => t.Roles)
        .ThenInclude(t => t.IdBackgroundroleNavigation)
    .Include(t => t.PersonalInformation)
    .Include(t => t.ContactInformation)
    .Where(t => t.Email == User.FindFirst(x => x.Type == ClaimsIdentity.DefaultNameClaimType).Value)
    .FirstOrDefault();
}

<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />


<div class="container">
    <div id="main">

        <div class="row" id="real-estates-detail">

            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-pills">
                            @if (user.PersonalInformation.Count == 0)
                            {
                                <li><a asp-action="PersonalInfromationuser" asp-controller="Account">Заполнить персональную информацию</a></li>
                            }
                            <li><a asp-action="ContactInformmationuser" asp-controller="Account">Заполнить контактную информацию</a></li>
                            <li><a asp-action="IndexCharts" asp-controller="Charts">Отчеты и графики</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <hr>
                            <div class="tab-pane fade active in" id="detail">
                                <h4>Профиль</h4>
                                <table class="table table-th-block">
                                    <tbody>
                                        <tr><td class="active">Никнейм пользователя:</td><td>@user.Nameusers</td></tr>
                                        <tr><td class="active">Email:</td><td>@user.Email</td></tr>
                                        @foreach (var personal in user.PersonalInformation)
                                        {
                                            <tr><td class="active">Пол: </td><td>@personal.Gender</td></tr>
                                            <tr><td class="active">Возраст: </td><td>@personal.Age</td></tr>
                                            <tr><td class="active">Фамилия: </td><td>@personal.Lastname</td></tr>
                                            <tr><td class="active">Имя: </td><td>@personal.Firstname</td></tr>
                                            <tr><td class="active">Отчество: </td><td>@personal.Secondname</td></tr>

                                        }
                                        @foreach (var role in user.Roles)
                                        {
                                            <tr><td class="active">Роль: </td><td>@role.IdBackgroundroleNavigation.DescriptionRole</td></tr>
                                        }

                                        @foreach (var contact in user.ContactInformation)
                                        {
                                            <tr><td class="active">Контактная информация: </td><td>@contact.PhoneOrEmail</td></tr>
                                            <tr><td class="active">Комментарий: </td><td>@contact.Comment</td></tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <ul id="myTab" class="nav nav-pills">
                            <li><a asp-action="Logout" asp-controller="Account">Выйти</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- /.main -->
